We will extract relevant data from the Phillips data to test several Niche detection methods

In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_excel('raw/41467_2021_26974_MOESM3_ESM.xlsx')

In [7]:
df

,"Supplementary Data 1. Marker expression, X/Y cell coordinates, cell-type annotation, cellular neighborhood assignment for all segmented single-cells identified by CODEX.",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 111,Unnamed: 112,Unnamed: 113,Unnamed: 114,Unnamed: 115,Unnamed: 116,Unnamed: 117,Unnamed: 118,Unnamed: 119,Unnamed: 120
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Count,EventCount,Index in File,ClusterID,FileName,ClusterName,Spots,Patients,Groups,FOXP3,...,PD-1+CD8+,CD4+Tcells,PD-1+tumor,CD8+Tcells,Ki67+CD4+,Ki-67+Tregs,ICOS+Tregs,IDO+Tregs,Ki67+tumor,original_index
2,0,1,60,33987,reg001,B cells,1,1,1,0.692403,...,0,0,0,0,0,0,0,0,0,0
3,1,1,94,33987,reg001,B cells,1,1,1,8.094747,...,0,0,0,0,0,0,0,0,0,1
4,2,1,198,33987,reg001,B cells,1,1,1,4.110389,...,0,0,0,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117167,116917,1,633,33981,reg066,vasculature,66,14,4,84.269714,...,0,0,0,0,0,0,0,0,0,116917
117168,116918,1,677,33981,reg066,vasculature,66,14,4,56.425945,...,0,0,0,0,0,0,0,0,0,116918
117169,116919,1,681,33981,reg066,vasculature,66,14,4,63.152092,...,0,0,0,0,0,0,0,0,0,116919
117170,116920,1,705,33981,reg066,vasculature,66,14,4,66.873306,...,0,0,0,0,0,0,0,0,0,116920
117171,116921,1,711,33981,reg066,vasculature,66,14,4,17.966373,...,0,0,0,0,0,0,0,0,0,116921

In [14]:
df_preprocessed = df.drop([0,1]).reset_index(drop=True)
df_preprocessed.columns = df.iloc[1]
display(df_preprocessed)
display(df_preprocessed.columns)

1,Count,EventCount,Index in File,ClusterID,FileName,ClusterName,Spots,Patients,Groups,FOXP3,...,PD-1+CD8+,CD4+Tcells,PD-1+tumor,CD8+Tcells,Ki67+CD4+,Ki-67+Tregs,ICOS+Tregs,IDO+Tregs,Ki67+tumor,original_index
0,0,1,60,33987,reg001,B cells,1,1,1,0.692403,...,0,0,0,0,0,0,0,0,0,0
1,1,1,94,33987,reg001,B cells,1,1,1,8.094747,...,0,0,0,0,0,0,0,0,0,1
2,2,1,198,33987,reg001,B cells,1,1,1,4.110389,...,0,0,0,0,0,0,0,0,0,2
3,3,1,284,33987,reg001,B cells,1,1,1,0,...,0,0,0,0,0,0,0,0,0,3
4,4,1,298,33987,reg001,B cells,1,1,1,2.937673,...,0,0,0,0,0,0,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117165,116917,1,633,33981,reg066,vasculature,66,14,4,84.269714,...,0,0,0,0,0,0,0,0,0,116917
117166,116918,1,677,33981,reg066,vasculature,66,14,4,56.425945,...,0,0,0,0,0,0,0,0,0,116918
117167,116919,1,681,33981,reg066,vasculature,66,14,4,63.152092,...,0,0,0,0,0,0,0,0,0,116919
117168,116920,1,705,33981,reg066,vasculature,66,14,4,66.873306,...,0,0,0,0,0,0,0,0,0,116920
117169,116921,1,711,33981,reg066,vasculature,66,14,4,17.966373,...,0,0,0,0,0,0,0,0,0,116921

Index(['Count', 'EventCount', 'Index in File', 'ClusterID', 'FileName',
       'ClusterName', 'Spots', 'Patients', 'Groups', 'FOXP3',
       ...
       'PD-1+CD8+', 'CD4+Tcells', 'PD-1+tumor', 'CD8+Tcells', 'Ki67+CD4+',
       'Ki-67+Tregs', 'ICOS+Tregs', 'IDO+Tregs', 'Ki67+tumor',
       'original_index'],
      dtype='object', name=1, length=121)

In [15]:
df_one_spot_only = df_preprocessed[df_preprocessed['Spots'] == 1]
display(df_one_spot_only)

1,Count,EventCount,Index in File,ClusterID,FileName,ClusterName,Spots,Patients,Groups,FOXP3,...,PD-1+CD8+,CD4+Tcells,PD-1+tumor,CD8+Tcells,Ki67+CD4+,Ki-67+Tregs,ICOS+Tregs,IDO+Tregs,Ki67+tumor,original_index
0,0,1,60,33987,reg001,B cells,1,1,1,0.692403,...,0,0,0,0,0,0,0,0,0,0
1,1,1,94,33987,reg001,B cells,1,1,1,8.094747,...,0,0,0,0,0,0,0,0,0,1
2,2,1,198,33987,reg001,B cells,1,1,1,4.110389,...,0,0,0,0,0,0,0,0,0,2
3,3,1,284,33987,reg001,B cells,1,1,1,0,...,0,0,0,0,0,0,0,0,0,3
4,4,1,298,33987,reg001,B cells,1,1,1,2.937673,...,0,0,0,0,0,0,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111825,111825,1,1256,33981,reg001,vasculature,1,1,1,2.106051,...,0,0,0,0,0,0,0,0,0,111825
111826,111826,1,1272,33981,reg001,vasculature,1,1,1,1.781218,...,0,0,0,0,0,0,0,0,0,111826
111827,111827,1,1282,33981,reg001,vasculature,1,1,1,0,...,0,0,0,0,0,0,0,0,0,111827
111828,111828,1,1286,33981,reg001,vasculature,1,1,1,0.989681,...,0,0,0,0,0,0,0,0,0,111828
111829,111829,1,1297,33981,reg001,vasculature,1,1,1,0.617763,...,0,0,0,0,0,0,0,0,0,111829

In [30]:
marker_col_names = ['FOXP3', 'GATA3', 'MUC-1', 'Vimentin', 'T-bet', 'CD62L', 'Cytokeratin', 'PD-L1', 'Ki-67', 'CD15', 'CD30', 'CD2', 'GranzymeB', 'CD5', 'CD39', 'MMP9', 'CD4', 'LAG3', 'CD25', 'CD56', 'CD20', 'PD-1', 'CD11c', 'CLA-CD162', 'IDO-1', 'VISTA', 'HLA-DR', 'ICOS', 'BCL-2', 'CD3', 'CD69', 'CD8', 'CD7', 'CD45RA', 'CD45', 'CD1a', 'CD57', 'B-catenin', 'CD45RO', 'CD71', 'CD34', 'CD68', 'CD38', 'CollagenIV', 'CD31', 'Podoplanin', 'CD138', 'CD163', 'Mastcell-tryptase', 'MMP12', 'CD164', 'p53', 'CCR6', 'CD16', 'CD11b', 'CCR4', 'EGFR', 'HOECHST1:Cyc_1_ch_1', 'DRAQ5']
cols_to_keep = ['ClusterName', 'X', 'Y'] + marker_col_names

In [31]:
df_test_selection_spot_1 = df_one_spot_only[cols_to_keep].copy()
df_test_selection_spot_1

1,ClusterName,X,Y,FOXP3,GATA3,MUC-1,Vimentin,T-bet,CD62L,Cytokeratin,...,MMP12,CD164,p53,CCR6,CD16,CD11b,CCR4,EGFR,HOECHST1:Cyc_1_ch_1,DRAQ5
0,B cells,165,979,0.692403,80.418777,81.578133,0.422483,1281.423706,300.485474,0.025324,...,932.848084,2017.046997,1452.009888,1666.669556,1692.139648,729.536743,980.48053,2174.919678,3520.529297,4133.993164
1,B cells,219,859,8.094747,75.731651,113.700844,48.759071,871.266174,727.925598,6.335735,...,808.271423,2883.205811,1766.072021,1818.412964,2158.456299,4201.670898,2979.158447,1702.522217,2368.385986,2178.956055
2,B cells,328,1105,4.110389,120.782913,92.355637,718.113159,541.268494,634.93103,0,...,696.024475,3790.150391,1198.464722,6729.749023,1725.925171,601.758179,2999.567627,1925.974609,2814.299561,2295.584229
3,B cells,422,120,0,51.528435,66.819679,47.125046,1029.719727,441.645203,0,...,763.677307,4075.999023,1284.326294,1321.358398,1140.679688,660.061523,1081.780029,1503.303955,2369.906738,1571.952026
4,B cells,415,870,2.937673,76.295013,136.434204,88.95845,528.213989,745.576172,25.205679,...,910.665527,8478.983398,1950.192505,2833.83667,703.584473,203.67659,767.187683,1224.029053,3678.256348,2814.730713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111825,vasculature,1726,980,2.106051,85.941399,110.297455,842.16449,461.003815,344.918152,0,...,1009.03772,506.203827,1675.063965,1660.375122,1325.697754,742.445373,1403.519531,1881.246338,3791.784912,3239.788574
111826,vasculature,1770,860,1.781218,66.298386,137.176971,740.394714,234.676392,596.036316,0.810711,...,608.023987,421.354797,1355.577026,1705.553833,904.734558,177.168335,1404.751465,1172.94873,2336.44751,2234.648438
111827,vasculature,1795,931,0,191.883575,60.495735,2807.927002,781.338135,754.416748,0,...,2085.205811,940.59845,2533.844238,2941.380859,2617.071533,1592.517944,4235.24707,4186.754883,6637.935547,6301.845215
111828,vasculature,1802,814,0.989681,144.822601,91.681572,2433.206299,687.42749,718.847656,0.185258,...,925.583801,3434.483154,2464.619629,5201.77832,2189.553711,1609.206421,3253.564209,4550.266602,2236.46582,2809.43335
111829,vasculature,1838,801,0.617763,127.476936,71.842491,2187.545166,664.718872,599.609436,0,...,1095.432251,3077.142334,2176.166748,3788.285156,1741.380737,1389.139893,1842.09668,2756.266846,3955.720215,3668.39502

In [32]:
df_test_selection_spot_1.to_csv('preprocessed/test_selection_spot_1.csv', index=False)

Now export as 3 separate files

In [33]:
df_test_coords = df_test_selection_spot_1[['X', 'Y']]
df_test_cell_types = df_test_selection_spot_1['ClusterName']
df_markers = df_test_selection_spot_1.drop(['ClusterName', 'X', 'Y'], axis=1)

df_test_coords.to_csv('preprocessed/test_coords.csv', index=False)
df_test_cell_types.to_csv('preprocessed/test_cell_types.csv', index=False)
df_markers.to_csv('preprocessed/test_markers.csv', index=False)

We will now automate the process to obtain the same results for all spots, and not just for spot 1. Therefore, we will loop through all spots in the dataset

In [ ]:
df_test_selection_spot_1 = df_one_spot_only[cols_to_keep].copy()
df_test_selection_spot_1

all_spots = df_preprocessed['Spots'].unique()

for spot in all_spots:
    df_spot = df_preprocessed[df_preprocessed['Spots'] == spot]
    df_spot_selection = df_spot[cols_to_keep].copy()
    df_spot_selection.to_csv(f'preprocessed/spot_{spot}.csv', index=False)

    df_spot_coords = df_spot_selection[['X', 'Y']]
    df_spot_cell_types = df_spot_selection['ClusterName']
    df_spot_markers = df_spot_selection.drop(['ClusterName', 'X', 'Y'], axis=1)

    df_spot_coords.to_csv(f'preprocessed/spot_{spot}_coords.csv', index=False)
    df_spot_cell_types.to_csv(f'preprocessed/spot_{spot}_cell_types.csv', index=False)
    df_spot_markers.to_csv(f'preprocessed/spot_{spot}_markers.csv', index=False)